footer {
    justify-content: space-between;
    display: flex;
}

.about {
    justify-content: space-between;
    display: flex;
    width: 30%;
}

.todo {
    align-items: center;
    margin: auto;
    width: 50%;
    border: 3px solid rgb(18, 19, 18);
    padding: 10px;
    text-align: left;
    background-color: aquamarine;
}